
body{
    background-color: lightgray;
}
.has-treeview{
    padding-left:4%;
}
.nav-item >a{
    color:lightgray!important;
}
.nav-item > a:hover {
    color: white !important;
    
}

/* change color for hyperlink */
.table a:link {
    color: #0645AD !important;
    cursor:pointer;  
}

.sideBar a:link {
    color: #98a6ad;
    text-decoration: none;
}

a.side {
    color: #98a6ad;
    text-decoration: none;
}

a:hover.side {
    color:#fff; 
    text-decoration:none; 
    cursor:pointer;  
}

/* retain color if button is active and hovered */
.nav-item > .active:hover {
    color: #051842 !important;
}
/* button active background color and text color */
.nav-item > .active {
    color: #051842 !important;
    background-color:lightgray!important;
}
.main-sidebar { background-color: #051842 !important }

.sidebar{
    border:0;
    overflow-x:hidden
}
.sidebar-title > span{
    margin:0;
    padding:0;
}


/* Task Board*/
.cardTask{
    padding: 20px;
    border-radius: 3px;
    margin-bottom: 30px;
    background-color: #fff;
}

.taskList {
    min-height: 40px;
    margin-bottom: 0
}


.taskList li {
    background-color: #fff;
    border: 1px solid rgba(121, 121, 121, .2);
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 3px
}

.taskList .checkbox {
    margin-left: 20px;
    margin-top: 5px
}
.taskList li:last-of-type {
    margin-bottom: 0
}

.taskList a {
    font-size: 13px
}

.text-muted {
    color: #98a6ad!important;
}

.thumb-sm {
    height: 36px;
    width: 36px;
}

.inputDrop {
    background: white;
    border-radius: 5px;
    align-items: center;
    border-image: none;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}